mixin video(video)
    div.video-mixin
        a(href=`/videos/${video.id}`)
            div.video-mixin__thumb 
        div.video-mixin__data
            a(href=`/users/${video.owner._id}`)
                if video.owner.avatarUrl.startsWith("uploads")
                    img.video_mixin__img(src="/" + video.owner.avatarUrl)
                else
                    img.video_mixin__img(src=video.owner.avatarUrl)
            div.video-mixin__text
                a(href=`/videos/${video.id}`)
                    span.video-mixin__title=video.title
                a(href=`/users/${video.owner._id}`)
                    div.video-mixin__meta
                        span #{video.owner.name} • 
                        span #{video.meta.views} 회