mixin videos(video)
    div.video_container
        a(href=`/videos/${video.id}`)
            div.video_container__shortcut
        div.video_container__info
            a(href=`/users/${video.owner.username}`)
                if video.owner.avatarUrl
                    img(src=`/${video.owner.avatarUrl}`).video_container__logo
                else 
                    img(src=`/${user.avatarUrl}`).video_container__logo
            a(href=`/videos/${video.id}`)
                div.video_container__text
                    span.video_container__title #{video.title}
                    span.video_container__views 조회수 #{video.meta.views}회
                    span.video_container__date=video.createdAt